html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  table {
    width: 100%;

    th.mat-header-cell,
    td.mat-cell {
      padding: 16px;
      text-align: left;
    }

    .mat-header-row {
      background-color: #f5f5f5;
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    opacity: 0.75;
  }

  mat-spinner {
    margin: 0 auto;
  }
}
