.content {
  padding: 1rem;

  .search-container {
    max-width: 230px;
  }

  .edit-product-name-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}
