.content {
  max-width: 1920px;
  padding: 1rem;
  position: relative;

  .search-container {
    max-width: 230px;
  }

  table {
    .cdk-drag {
      display: table-row;
      cursor: grab !important;
    }

    .cdk-drag-dragging {
      cursor: move !important;
    }

    .cdk-drag-placeholder {
      background: antiquewhite;
      border: 2px dashed #000;
    }
  }

  .edit-product-name-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
  }
}
.menu-container {
  width: 200px;
  background: #04aa6d;
  font-size: 20px;

  .menu-toggler {
    padding: 10px;
    cursor: pointer;
  }

  .menu {
    background: #333;
    color: #fff;
    padding: 10px;

    .menu-item {
      cursor: pointer;
      padding: 5px 0px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
