<ng-container *ngIf="!dataLoaded">
  <div class="loading-container">
    <mat-spinner diameter="75"></mat-spinner>
  </div>
</ng-container>
<ng-container *ngIf="dataLoaded">
  <div *ngIf="data$$ | async as data" class="content">
    <div class="search-container mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search product..."
        (keyup)="onSearchProduct($event)"
      />
    </div>
    <app-alert></app-alert>
    <table
      mat-table
      [dataSource]="data"
      cdkDropList
      [cdkDropListData]="data"
      (cdkDropListDropped)="reorderRow($event)"
    >
      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td
          mat-cell
          *matCellDef="let element"
          (dblclick)="setProductInEditMode(element.productId)"
        >
          <ng-container *ngIf="!element.isInEditMode; else editProductMode">{{
            element.name
          }}</ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">
          {{ element.category }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="text-end">Price</th>
        <td mat-cell *matCellDef="let element" class="text-end">
          {{ element.price | formatNumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns" cdkDrag></tr>
    </table>
    <app-pagination [currentPage]="currentPage" [pageLimit]="pageLimit" [totalEntities]="totalEntities" (changePage)="changePage($event)"></app-pagination>
  </div>
</ng-container>
<ng-template #editProductMode>
  <input
    type="text"
    autofocus
    [appStyleChange]="{
      backgroundColor: '#ccc',
      padding: '2px 5px',
      'border-radius': '5px'
    }"
    class="edit-product-name-input"
    [value]="productToEdit?.name"
    (keyup)="editProductName($event)"
    (keyup.enter)="onBlur()"
    (blur)="onBlur()"
  />
</ng-template>
